asgiref
attrs
autobahn
Automat
cffi
channels
constantly
cryptography
daphne
Django
django-cors-headers
django-environ
djangorestframework
djangorestframework_simplejwt
environ
hyperlink
idna
incremental
pillow
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
service-identity
setuptools
sqlparse
Twisted
txaio
typing_extensions
tzdata
zope.interface
